@import "../components/normalize-scss/normalize";
@import "../components/font-awesome/scss/font-awesome";
@import "./mixins";
@import "./variables";

@import "./device";
@import "./side-bar";

@import "../../widgets/textfield/styles";
@import "../../widgets/listview/styles";

body {
  font-size: 12px;
}
body, body * {
  box-sizing: border-box;
}

.device-wrapper {
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
}

.widget-list {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;

  @include scrollbar(5px);
}
