$android_bg: #323232;
$android-border-color: #5b5b5b;
$android-primary-color: #4abce7;
$android-text-color: #fff;
$android_background_color: #323232;
$android_input_border_color: #5b5b5b;
$android_border_color: #5b5b5b;
$android_outer_border_color: #5b5b5b;
$android_side_bar_head_color: #2C3E50;
$android_side_bar_body_color: #34495E;
$android_device_color_silver: #ECECEC;
$android_device_color_grey: #8E8E8E;

$fi-path: "../../components/foundation-icon-fonts";
