doctype html
html(ng-app="droid-ui")
    head
        meta(charset='utf8')
        base(href='/')
        title Angular Express Seed App
        link(href='/build/css/droid-ui.css', type="text/css", rel="stylesheet")
    body
        block content
        script(src='/build/js/droid-ui.js')