extends _layout
include ./mixins/configuration
include mixins/device

block content
  div(ng-controller="mockup")
    ul.all-widgets
      li(ng-repeat="widget in allWidgets")
        div(list-item-dnd="{{widget}}") {{ widget.type}}

    +config()
    .device-wrapper
      +device()
