extends _layout
include ./mixins/configuration
include mixins/device
include mixins/side-bar

block content
  .layout(ng-controller="mockup")
    .content
      +device()

    +side-bar()

    .controls
      .rotation(ng-click="landscape = !landscape")
        i.fi-refresh
      .colors
        .silver(ng-click="deviceColor='silver'")
          i.fi-burst
        .gray(ng-click="deviceColor='gray'")
          i.fi-burst

    +side-bar()