mixin config()
  ul(ng-if="selectedWidget")
    li(ng-repeat="(fieldName, config) in selectedWidget.config")
      label {{fieldName}}
        input(ng-if="config.type === 'text'", ng-model="selectedWidget.model[fieldName]")
        select(ng-if="config.type === 'select'", ng-model="selectedWidget.model[fieldName]")
          option(ng-repeat="option in config.options", value="{{option.value}}") {{option.name}}