include ./configuration

mixin side-bar
  .side-bar
    .panel
      .panel-head Widgets
      .panel-body
        ul.all-widgets
          li(ng-repeat="widget in allWidgets")
            div(list-item-dnd="{{widget}}") {{ widget.type}}
    +config()