@import "../../public/sass/variables";

.field {
  padding: 0.6em;
  min-height: 2.5em;
  background: #323232;
  .text {
    display: block;
    width: 100%;
    color: $android_text_color;
    font-size: 1.1em;
    padding: 0.3em;
  }
}