@import "../../public/sass/variables";

.listview {
  padding: 0;
  margin: 0;

  .list-item {
    list-style: none;
    padding: .5em .75em;
    color: $android-text-color;

    @include horizontal-border($android_bg);
    font-size: 1.2em;

    sub {
      font-size: .8em;
      color: $android-border-color;
    }

    .thumbnail {
      width: 100%;

      .img-wrapper {
        width: 1%;
        padding-right: .5em;

        img {
          box-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
        }
      }
    }
  }
}