.field.text-field
  .label {{ model.labelText }}
  .outer
    input.text(
      ng-model="model.value",
      placeholder="{{model.placeholder}}",
      type="{{model.inputType}}"
    )
    .input-border